.container{
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titolo{
    font-weight: bold;
}

.bottoni{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bottone-home{
    background-color: #D32F2E;
    color: #FFFFFF;
}