.header{
    width: 100vw;
    height: 40vh;
    background-image: url(https://tinyurl.com/intestazione);
    background-size: cover;
    background-position: center;
    position: relative;
}
.home-content-container{
    display: flex;
    justify-content: center;
}

.testo-header{
    padding-top: 5%;
    padding-left: 5%;
    color:#FFFFFF;
    font-size:3em;
}

.home-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1%;
    width: 80vw;
}

.barra-ricerche {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.filtri{
    display: flex;
    gap: 10px;
  
}

.ricerca{
    gap: 5%;
}

.example-card {
    max-width: 190px;
    margin-top: 1%;
}
  
.elenco-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1%;
    width: 100%;
}

.example-card img{
    width: 100%;
}

mat-card-content{
    margin-top: 5%;
}

mat-card-title{
    font-weight: 500;
}

mat-card-subtitle{
    margin-top: 5%;
}

.costo{
    font-weight: 500;
    margin-top: 10%;
}

mat-card-actions .bottone{
    margin-top: 10%;
    width: 100%;
    background-color: #9B211E;
    color: #FFFFFF;
}
.example-sidenav {
    padding: 20px;
  }

  .dettaglio-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-dettaglio {
    width: 90vw;
    height: 90vh;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;

}

#costo{
    font-size: 1.5em;
}

.card-dettaglio .bottone{
    background-color: #9B211E;
    color: #FFFFFF
}

.example-container .bottone-drawer-1{
    background-color: #9B211E;
    color: #FFFFFF
}

.example-container .bottone-drawer-2{
    background-color: #FFFFFF;
    color: #9B211E;
}


mat-drawer{
    width: 20%;
    margin: 60px 0;
    
  }
.img-carrello{
    width: 5vw;
}
mat-toolbar-row {
    display: flex;

    justify-content: space-between;
    
    .right-item{
      display: flex;
      
    }
    .right-item > div{
      display: flex;
      align-items: center;
      border: 1px solid black;
    }
   
    .container-items{
      display: flex;
      justify-content: space-between;
      
    }

  }



