.container{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titolo{
    color: #2D7E32;
}

.testo{
    color: #656D70
}

.bottone{
    background-color: #9B211E;
    color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}