<div class="register-page">
  <div class="register-image">
    <img class="img-pointer" src="../../../../../assets/images/operas-logo-bianco.png" alt="Logo"
      (click)="navigateTo()" />
  </div>

  <mat-card class="register-card" *ngIf="!registrationCompleted">
    <mat-card-header>
      <mat-card-title>
        <h3 class="titolo">Registrati</h3>
      </mat-card-title>
      <mat-card-subtitle>Inserisci i tuoi dati e procedi con la registrazione</mat-card-subtitle>
    </mat-card-header>
    <form>
      <mat-card-content>
        <mat-list>
          <mat-divider></mat-divider>
          <mat-stepper #stepper>
            <mat-step [stepControl]="registerForm">
              <h4 class="titolo">CREDENZIALI DI ACCESSO</h4>
              <form  class="body-registrazione" [formGroup]="registerForm">
                <mat-form-field class="input">
                  <mat-label>Inserisci la tua e-mail</mat-label>
                  <input matInput placeholder="pat@example.com" formControlName="email">
                  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="input">
                  <mat-label>Scegli</mat-label>
                  <mat-select formControlName="usertype">
                    <mat-option value="USER">User</mat-option>
                    <mat-option value="ADMIN">Admin</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="input">
                  <mat-label>Inserisci la tua password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <mat-form-field class="input">
                  <mat-label>Conferma password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="cPassword">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                <section class="informativa">
                  <mat-checkbox formControlName="informativa">Ho preso visione dell'<a class="titolo" href="#">informativa
                      privacy</a></mat-checkbox>
                  <mat-error *ngIf="registerForm.get('informativa')?.hasError('requiredTrue')">Devi accettare
                    l'informativa privacy</mat-error>
                    <mat-divider class="divider"></mat-divider>
                </section>
                    <div class="riga-bottoni">
                      <button class="bottone-login" (click)="navigateTo()">RITORNA ALLA LOGIN</button>
                      <button mat-flat-button class="bottone" [disabled]="!isFormValid()" matStepperNext>AVANTI</button>
                    </div>

              </form>
            </mat-step>

            <mat-step [stepControl]="anagraficaForm">
              <h4 class="titolo">DATI ANAGRAFICI</h4>
              <form class="body-registrazione" [formGroup]="anagraficaForm" novalidate>
                <mat-form-field class="input">
                  <mat-label>Cognome</mat-label>
                  <input matInput type="text" formControlName="cognome" required>
                </mat-form-field>
                <mat-form-field class="input">
                  <mat-label>Nome</mat-label>
                  <input matInput type="text" formControlName="nome" required>
                </mat-form-field>
                <mat-form-field class="input">
                  <mat-label>Data di nascita</mat-label>
                  <input matInput type="date" formControlName="dataNascita" required>
                </mat-form-field>
                <mat-form-field class="input">
                  <mat-label>Scegli</mat-label>
                  <mat-select formControlName="genere">
                    <mat-option value="M">Maschio</mat-option>
                    <mat-option value="F">Femmina</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="inputPiccoli">
                  <mat-label>Nazione</mat-label>
                  <input matInput type="text" formControlName="nazione" required>
                </mat-form-field>
                <mat-form-field class="inputPiccoli">
                  <mat-label>Provincia</mat-label>
                  <input matInput type="text" formControlName="provincia" required>
                </mat-form-field>
                <mat-form-field class="inputPiccoli">
                  <mat-label>Città</mat-label>
                  <input matInput type="text" formControlName="citta" required>
                </mat-form-field>
                <mat-form-field class="inputPiccoli">
                  <mat-label>Indirizzo</mat-label>
                  <input matInput type="text" formControlName="indirizzo" required>
                </mat-form-field>
                <div class="divider">
                  <mat-divider></mat-divider>
                </div>
                <div class="riga-bottoni" *ngIf="registerForm.get('usertype')?.value==='ADMIN'">
                  <button mat-button class="bottoneBianco" matStepperPrevious>Indietro</button>
                  <button mat-button class="bottone" matStepperNext>Avanti</button>
                </div>
                <div class="riga-bottoni" *ngIf="registerForm.get('usertype')?.value==='USER'">
                  <button mat-button class="bottoneBianco" matStepperPrevious>Indietro</button>
                  <button mat-button class="bottone" matStepperNext (click)="onSubmit()">Conferma</button>
                </div>
              </form>
            </mat-step>

            <mat-step *ngIf="registerForm.get('usertype')?.value === 'ADMIN'" [stepControl]="societaForm">
              <h4 class="titolo">INFO</h4>
              <form [formGroup]="societaForm" novalidate>
                <mat-form-field class="inputSocieta">
                  <mat-label>Nome</mat-label>
                  <input matInput type="text" formControlName="nome" required>
                </mat-form-field>
                <mat-form-field class="inputSocieta inputD">
                  <mat-label>Descrizione</mat-label>
                  <input matInput type="text" formControlName="descrizione" required>
                </mat-form-field>
                <mat-form-field class="inputQ">
                  <mat-label>Nazione</mat-label>
                  <input matInput type="text" formControlName="nazione" required>
                </mat-form-field>
                <mat-form-field class="inputQ">
                  <mat-label>Provincia</mat-label>
                  <input matInput type="text" formControlName="provincia" required>
                </mat-form-field>
                <mat-form-field class="inputQ">
                  <mat-label>Città</mat-label>
                  <input matInput type="text" formControlName="citta" required>
                </mat-form-field>
                <mat-form-field class="inputQ">
                  <mat-label>Indirizzo</mat-label>
                  <input matInput type="text" formControlName="indirizzo" required>
                </mat-form-field>
                <div class="divider">
                  <mat-divider></mat-divider>
                </div>
                <br>
                <div class="riga-bottoni">
                  <button mat-button class="bottoneBianco" matStepperPrevious>Indietro</button>
                  <button mat-button class="bottone" matStepperNext type="submit" (click)="onSubmit()">Conferma</button>
                </div>
              </form>
            </mat-step>
          </mat-stepper>
        </mat-list>
      </mat-card-content>
    </form>
  </mat-card>
</div>