<mat-form-field
  appearance="outline"
  (keydown.enter)="selectValue()"
  color="primary"
  class="small grey-color"
  [subscriptSizing]="'dynamic'"
>
  <mat-label>{{ selectLabel }}</mat-label>
  <mat-select [formControl]="selectedOption">
    <mat-option (click)="selectValue()"></mat-option>
    <mat-option
      *ngFor="let option of selectOptions"
      [value]="option | replace : ' ': '_' "
      (click)="selectValue()"
      >{{ option}}</mat-option
    >
  </mat-select>
</mat-form-field>
