


<mat-drawer #drawer mode="over" position="end">
  <div style="display: flex;flex-direction: column;  ">
    <div style="gap: 400px;max-height: 80vh; overflow-y: auto; ">
  <h5 style="margin-left: 3%;">Carrello</h5>

  <div *ngFor="let p of carrello; let i = index" style="margin-left: 5%; display: flex; align-items: center; margin-bottom: 5%;">

    <div style="flex: 0 0 auto; margin-right: 10px;">
      <!-- Immagine -->
      <img class="img-carrello" [src]="'data:image/jpeg;base64,' + p?.spettacolo.immagine" style="border-radius: 5px;">
    </div>

    <div style="flex: 1;">
      <!-- Titolo -->
      <p style="font-weight: bold;">{{p?.spettacolo.nomeProdotto}}</p>

      <!-- Orario -->
      <p>{{p?.spettacolo.orario}}</p>
    </div>

    <div style="flex: 0 0 auto; margin-left: auto; margin-right: 5%;">
      <!-- Costo -->
      
      <p>{{p?.spettacolo.costo?.toFixed(2)}}€</p>

      <!-- Icona Rimuovi -->
      <mat-icon (click)="rimuoviDalCarrello(i)" style="color: rgb(248, 248, 248); cursor: pointer;">delete</mat-icon>
    </div>
  </div>
</div>

        
<div style="text-align: center; display: flex; flex-direction: column; align-items: center;"> 
  <div style="width: 90%; display: flex; justify-content: space-between; margin-left: 5%;">
    <mat-card-subtitle>Sub totale:</mat-card-subtitle>
    <mat-card-title>{{subTotale}} €</mat-card-title>
  </div>
  
  <div style="width: 90%; display: flex; justify-content: space-between; margin-left: 5%;">
    <mat-card-subtitle>Totale:</mat-card-subtitle>
    <mat-card-title>{{totale}} €</mat-card-title>
  </div>

  <button mat-flat-button class="bottone-stessa-dimensione" (click)="prenota(carrello)">CONCLUDI L'ORDINE</button>
  <button mat-stroked-button class="bottone-stessa-dimensione" (click)="navigateTo()">CONTINUA LA RICERCA</button>
  <button mat-flat-button class="bottone-stessa-dimensione" (click)="svuotaCarrello()">Svuota Carrello</button>
</div>

  </div> 
  </mat-drawer>



<div class="calc-width">

  <mat-toolbar class="toolbar">
    <mat-toolbar-row>

      <figure>
        <img class="logo" src="../../../../../assets/images/operas-logo-bianco.png" alt="logo" (click)="goToHome()" />
      </figure>


      <div class="container-right">
        <div>


          <button (click)=" drawer.toggle();ngOnInit()"><i mat class="material-icons"
              *ngIf="sessioneUtente">shopping_cart</i></button>


        </div>

        <div>
          <button mat-flat-button class="bottone-accedi" (click)="navigateTo()" *ngIf="!sessioneUtente">ACCEDI</button>
        </div>



        <div class="flex-items" *ngIf="sessioneUtente">
          <div class="round-img-profile" (click)="goToProfilo()">
            <div class="profile-avatar">
              <p>
                {{ (sessioneUtente.email | slice : 0 : 1 | uppercase) || ""
                }}
              </p>
            </div>
          </div>
          <span>
            {{ sessioneUtente.email || "" | titlecase }}
          </span>
          <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon">
            <mat-icon>expand_more</mat-icon>
          </button>
          <mat-menu class="only-width account-menu" #menu="matMenu">
            <!-- <button
            class="bottom-border"
            mat-menu-item
            (click)="gotoEditAccount()"
            *ngIf="!isAdmin"
          >
            <mat-icon>person_filled</mat-icon>
            {{ labelConstant.profilo }}
          </button> -->
            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              {{ labelConstant.logout }}
            </button>
          </mat-menu>
        </div>

      </div>

    </mat-toolbar-row>
  </mat-toolbar>
</div>