table {
    width: 100%;
    
  }
   
  .first{
    font-weight: bold;
  }
  mat-card{
    margin-top: 20px;
  }
 table td{
  padding: 10px;
  background-color: #9b201e10;
  text-align: center;
 }
 .center{
  text-align: center;
  display: block;
 }
td img {
  width: 15px;
}
.click{
  cursor: pointer;
}
.custom-card {
  width: 100%; /* Imposta la larghezza al 100% del contenitore genitore */
  max-width: 350px; /* Imposta la larghezza massima desiderata */
  height: auto; /* Imposta l'altezza automaticamente per mantenere l'aspetto proporzionale */
  margin-left: 0%;
}

